In [11]:
import pandas as pd

df = pd.read_csv("./data/info_seoul[2023-06-01].csv",sep="|")
df.head()

,name,"""basic_info""","""cost_info""","""avg_stars"""
0,ê°•ë‚¨ ë” ë®¤ì¦ˆ,ì‚¬ì¥ë‹˜ í•œë§ˆë”” ê³¨ë“œê¸€ë¼ìŠ¤ë¸Œë¡ ì¦ˆê¸€ë¼ìŠ¤ ê°ì‹¤ Couple Pc ë°°í‹€ê·¸ë¼ìš´ë“œ ê°€ëŠ¥ ìµœê³ ì‚¬...,"40,000",9.8
1,ì—­ì‚¼ í˜¸í…” ë”” ì•„í‹°ìŠ¤íŠ¸,í˜œíƒì•ˆë‚´ìš”ê¸ˆí• ì¸ì£¼ì°¨ì¥ ì •ë³´ í¸ë¦¬í•œ ì£¼ì°¨ê³µê°„ í™•ë³´ (ì‹ ê·œ ì™¸ë¶€ ì£¼ì°¨ì¥ ì™„ë¹„) ë°œë ›ì„œë¹„...,"35,000",9.2
2,ì—­ì‚¼ ë¦¬ì¹˜ì›°,ì‚¬ì¥ë‹˜ í•œë§ˆë”” ë¦¬ì¹˜ì›° í˜¸í…” ì „ê°ì‹¤ Netflix í”„ë¦¬ì¡´ (ë¬´ë£Œì‹œì²­ê°€ëŠ¥ìë™ë¡œê·¸ì¸) ì „...,"35,000",9.3
3,ê°•ë‚¨ ìº í¼ìŠ¤,ì‚¬ì¥ë‹˜ í•œë§ˆë”” Deluxe íƒ€ì… ê°ì‹¤ 75 SMART TV ! ë„·í”Œë¦­ìŠ¤ ì´ìš© ê°€ëŠ¥ë¦¬...,"40,000",9.3
4,ì—­ì‚¼ ì¸íŠ¸ë¡œí˜¸í…”,ì£¼ì°¨ì¥ ì •ë³´ì§€ìƒ ì£¼ì°¨ì¥ê³¼ ì§€í•˜ì£¼ì°¨ì¥ì„ ì‚¬ìš©í• ìˆ˜ ìˆìŠµë‹ˆë‹¤ê°ì‹¤ë‹¹ 1ëŒ€ë§Œ ì£¼ì°¨í• ìˆ˜ ìˆìŠµë‹ˆ...,"30,000",9.9

In [20]:
df2 = pd.read_csv("./reviews/reviews_seoul[2023-05-29].csv",sep='<div class="txt">')
df2.head()

C:\Users\xmssn\AppData\Local\Temp\ipykernel_30712\3928576988.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2 = pd.read_csv("./reviews/reviews_seoul[2023-05-29].csv",sep='<div class="txt">')

                                              "review"
NaN  í”„ë¡ íŠ¸ì—ì„œë¶€í„° ì¹œì ˆí•˜ê²Œ ëŒ€ì‘í•´ì£¼ì‹œê³  ì˜¬ ë•Œë§ˆë‹¤ ë§Œì¡±í•˜ê³  ê°€ëŠ” ê³³ì…ë‹ˆë‹¤. í™”ì¥ì‹¤ê³¼ ì¹¨...
NaN  í† ì‹¤í•œì”¨ë¦„ë‹˜ ì•ˆë…•í•˜ì„¸ìš”.<br/><br/>ìµœì‹  ë¦¬ëª¨ë¸ë§ í˜¸í…”ë”ë®¤ì¦ˆ ğŸ’›<br/><br...
NaN  ì•„ê¸°ìê¸°í•˜ë‹ˆ ì¢‹ì•˜ì–´ìš” ë°©í¬ê¸°ì— ë¹„í•´ ìš•ì‹¤ì´ ë„“ê³  ì¢‹ì•˜ìŠµë‹ˆë‹¤ . ë„·í”Œë¦­ìŠ¤ë„ ìˆê³  ì‚¬ì¥...
NaN  íƒì›”í•œë§¹ê½ì´ë‹˜ ì•ˆë…•í•˜ì„¸ìš”.<br/><br/>ìµœì‹  ë¦¬ëª¨ë¸ë§ í˜¸í…”ë”ë®¤ì¦ˆ ğŸ’›<br/><b...
NaN  ìì£¼ê°€ëŠ”ê³³ì…ë‹ˆë‹¤ ê°•ë‚¨êµ¬ ì„œì´ˆêµ¬ ì´ê·¼ì²˜ì—ì„œ ê°€ê²©ëŒ€ë¹„ ì‹œì„¤ì´ë‚˜ ì£¼ì°¨ ì¹œì ˆí•¨ì´ ìµœê³ ì…ë‹ˆë‹¤...