In [6]:
import pandas as pd
import re

In [8]:
df = pd.read_csv("./data_ya/info_yanolja_seoul[2023-06-01].csv", sep="|")
df.head()

,name,basic_info,cost_info,avg_stars
0,역삼 호텔스타 프리미어,이용안내확인 사항이용 안내 미 확인 후 취소 요청 시 취소가 되지 않습니다.객실 당...,"25,000원~",4.8
1,역삼 녹스 호텔,이용안내공지사항제휴점 사정으로 인해 객실정보가 수시로 변경될수 있으며 이로인한 불이...,"25,000원~",4.5
2,강남 캠퍼스,"이용안내14가지 객실타입, 랜덤배정객실은 디자인이 상이한 14가지 타입으로 구성되어...","31,000원~",4.6
3,역삼 Hotel The Artist,이용안내 호텔 디아티스트 역삼점 객실 이용규정입니다.취소규정안내체크인 날짜 기준이용...,"25,000원~",4.7
4,역삼 리치웰,"이용안내리치웰 공지사항리치웰 호텔 전객실 Netflix 프리존 (무료시청가능,자동로...","40,000원~",4.6

In [9]:
def convert_cost(cost):
    extracts = re.compile('[^ 0-9]')
    cost.sub(extracts)

df["cost_info"] = df["cost_info"].apply(convert_cost)
df["cost_info"].head()

AttributeError: 'str' object has no attribute 'sub'