In [11]:
import pandas as pd

df = pd.read_csv("./data/info_seoul[2023-06-01].csv",sep="|")
df.head()

,name,"""basic_info""","""cost_info""","""avg_stars"""
0,강남 더 뮤즈,사장님 한마디 골드글라스브론즈글라스 객실 Couple Pc 배틀그라운드 가능 최고사...,"40,000",9.8
1,역삼 호텔 디 아티스트,혜택안내요금할인주차장 정보 편리한 주차공간 확보 (신규 외부 주차장 완비) 발렛서비...,"35,000",9.2
2,역삼 리치웰,사장님 한마디 리치웰 호텔 전객실 Netflix 프리존 (무료시청가능자동로그인) 전...,"35,000",9.3
3,강남 캠퍼스,사장님 한마디 Deluxe 타입 객실 75 SMART TV ! 넷플릭스 이용 가능리...,"40,000",9.3
4,역삼 인트로호텔,주차장 정보지상 주차장과 지하주차장을 사용할수 있습니다객실당 1대만 주차할수 있습니...,"30,000",9.9

In [20]:
df2 = pd.read_csv("./reviews/reviews_seoul[2023-05-29].csv",sep='<div class="txt">')
df2.head()

C:\Users\xmssn\AppData\Local\Temp\ipykernel_30712\3928576988.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2 = pd.read_csv("./reviews/reviews_seoul[2023-05-29].csv",sep='<div class="txt">')

                                              "review"
NaN  프론트에서부터 친절하게 대응해주시고 올 때마다 만족하고 가는 곳입니다. 화장실과 침...
NaN  토실한씨름님 안녕하세요.<br/><br/>최신 리모델링 호텔더뮤즈 💛<br/><br...
NaN  아기자기하니 좋았어요 방크기에 비해 욕실이 넓고 좋았습니다 . 넷플릭스도 있고 사장...
NaN  탁월한맹꽁이님 안녕하세요.<br/><br/>최신 리모델링 호텔더뮤즈 💛<br/><b...
NaN  자주가는곳입니다 강남구 서초구 이근처에서 가격대비 시설이나 주차 친절함이 최고입니다...